@import 'tailwindcss';

:root {
  --light: #ffffff;
  --dark: #171717;
  --primary: #091943;
  --accent: #f97415;
}

@theme inline {
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --font-sans: var(--font-manrope);
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-light font-sans text-dark;
  }
}
